<p id="notice"><%= notice %></p>

<h1>Listing Company Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_categories.each do |company_category| %>
      <tr>
        <td><%= company_category.name %></td>
        <td><%= link_to 'Show', company_category %></td>
        <td><%= link_to 'Edit', edit_company_category_path(company_category) %></td>
        <td><%= link_to 'Destroy', company_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company category', new_company_category_path %>
