<%= form_for(@water_source) do |f| %>
  <% if @water_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_source.errors.count, "error") %> prohibited this water_source from being saved:</h2>

      <ul>
      <% @water_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
